h6{
    font-size: 30px;
    text-align: center;
}
#bsk-b{
background-image: url('https://i.pinimg.com/736x/fa/53/a4/fa53a4e2f8f55af9fc5e10fea097cf48.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}