.bsk-alcim-trophy{
    font-size: 30px;
    text-align: center;
    background-color: lightblue;
    margin: 0px 765px  
}
.bsk-alcim-rare{
    font-size: 30px;
    text-align: center;
    background-color: #68fd58;
    margin: 0px 815px  
}
.bsk-alcim-superrare{
    font-size: 30px;
    text-align: center;
    background-color: #5ab3ff;
    margin: 0px 785px  
}
.bsk-alcim-epic{
    font-size: 30px;
    text-align: center;
    background-color: #d850ff;
    margin: 0px 875px  
}
#bsk-b{
background-image: url('https://i.pinimg.com/736x/fa/53/a4/fa53a4e2f8f55af9fc5e10fea097cf48.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin: 0px 25px;
}
.bsk-kepek-trophy{
    border: 5px solid lightblue;
    margin: 10px 10px;
    width: 120px;
}
.bsk-kepek-rare{
    border: 5px solid #68fd58;
    width: 120px;
    margin: 10px 10px;
}
.bsk-kepek-superrare{
    border: 5px solid #5ab3ff;
    width: 120px;
    margin: 10px 10px;
}
.bsk-kepek-epic{
    border: 5px solid #d850ff;
    width: 120px;
    margin: 10px 10px;
}