/* Clash Royale CSS kezdődik */

.cr_content {
    color: white;
    text-shadow: 2px 2px black;
}
.cr_hatter {
    background-image: url(Képek/cr-hatter.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cr_kep {
    float: right;
    width: 40%;
    margin-left: 20px;
}

.cr_h1 {
    text-align: center;
    color: rgb(23, 124, 219);
    text-shadow: 1px 1px black;
    font-stretch: ultra-condensed;
}



/*Trophy Road játékstílus*/

.cr_trophyroad_kep {
    float: left;
    width: 230px;
    position: absolute;
}

.cr_trophyroad_div h3 {
    visibility: hidden;
    position: absolute;
    margin-left: 300px;
}

.cr_trophyroad_div p {
    visibility: hidden;
    position: absolute;
    margin-left: 300px;
    margin-top: 70px;
}

.cr_trophyroad_div {
    width: 230px;
    height: 129.488px;
    transition: width 1s, height 1s;
    border: 3px solid rgb(23, 124, 219);
}

.cr_trophyroad_div:hover h3 {
    visibility: visible;
}

.cr_trophyroad_div:hover p {
    visibility: visible;
}

.cr_trophyroad_div:hover {
    width: 100%;
    height: 200px;
}

/*Trophy Road játékstílus vége*/



/*Path of legends játékmód*/

.cr_pathoflegends_kep {
    float: left;
    width: 230px;
    position: absolute;
}

.cr_pathoflegends_div h3 {
    visibility: hidden;
    position: absolute;
    margin-left: 300px;
}

.cr_pathoflegends_div p {
    visibility: hidden;
    position: absolute;
    margin-left: 300px;
    margin-top: 70px;
}

.cr_pathoflegends_div {
    width: 230px;
    height: 129.488px;
    transition: width 1s, height 1s;
    border: 3px solid rgb(23, 124, 219);
    margin-top: 10px;
}

.cr_pathoflegends_div:hover h3 {
    visibility: visible;
}

.cr_pathoflegends_div:hover p {
    visibility: visible;
}

.cr_pathoflegends_div:hover {
    width: 100%;
    height: 200px;
}

/*Path of legends játékmód vége*/







.cr_towers_kep {
    width: 250px;
    float: right;
}

.cr_cards_kep {
    float: right;
    width: 500px;
    margin-top: 30px;
    margin-left: 20px;
}

/* Clash Royale CSS vége */







/* War Thunder CSS kezdődik */

#wt_header {
    background-image: linear-gradient(to right, rgb(182, 28, 28), rgb(128, 78, 13));
}

.wt_content {
    color: white;
    text-shadow: 2px 2px black;
}

.wt_hatter {
    background-image: url(https://static.warthunder.com/upload/image/News/september14/3/1920x1080_2years_eng.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wt_h1 {
    text-align: center;
    font-size: 50px;
}

.wt_kep {
    float: right;
    width: 200px;
}


/*Arcade játékstílus*/

.wt_arcade_kep {
    float: left;
    width: 230px;
    margin-right: 30px;
    position: absolute;
}

.wt_arcade_div h3 {
    visibility: hidden;
    position: absolute;
    margin-left: 300px;
}

.wt_arcade_div p {
    visibility: hidden;
    position: absolute;
    margin-left: 300px;
    margin-top: 70px;
}

.wt_arcade_div {
    width: 230px;
    height: 129.488px;
    transition: width 1s, height 1s;
    border: 3px solid rgb(128, 78, 13);
}

.wt_arcade_div:hover h3 {
    visibility: visible;
}

.wt_arcade_div:hover p {
    visibility: visible;
}

.wt_arcade_div:hover {
    width: 100%;
    height: 170px;
}

/*Arcade játékstílus vége*/



/*Realistic játékstílus*/

.wt_realistic_kep {
    float: left;
    width: 230px;
    margin-right: 30px;
    position: absolute;
}

.wt_realistic_div h3 {
    visibility: hidden;
    position: absolute;
    margin-left: 300px;
}

.wt_realistic_div p {
    visibility: hidden;
    position: absolute;
    margin-left: 300px;
    margin-top: 70px;
}

.wt_realistic_div {
    width: 230px;
    height: 150px;
    transition: width 1s, height 1s;
    border: 3px solid rgb(128, 78, 13);
    margin-top: 10px;
}

.wt_realistic_div:hover h3 {
    visibility: visible;
}

.wt_realistic_div:hover p {
    visibility: visible;
}

.wt_realistic_div:hover {
    width: 100%;
    height: 170px;
}

/*Realistic játékstílus vége*/


.wt_fejlesztes_kep {
    float: right;
    width: 500px;
    margin-left: 20px;

}

/* War Thunder CSS vége */