.cr_content {
    color: white;
    text-shadow: 2px 2px black;
}
.cr_hatter {
    background-image: url(Képek/cr-hatter.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cr_kep {
    float: right;
    width: 40%;
}

.cr_h1 {
    text-align: center;
    color: rgb(23, 124, 219);
    text-shadow: 1px 1px black;
    font-stretch: ultra-condensed;
}

.cr_trophyroad_kep {
    width: 230px;
    float: left;
    margin-right: 30px;
}

.cr_pathoflegends_kep {
    width: 230px;
    float: left;
    margin-right: 30px;
}

.cr_towers_kep {
    width: 250px;
    float: right;
}

.cr_cards_kep {
    float: right;
    width: 500px;
    margin-top: 30px;
}




.wt_content {
    color: white;
    text-shadow: 2px 2px black;
}

.wt_hatter {
    background-image: url(https://static.warthunder.com/upload/image/News/september14/3/1920x1080_2years_eng.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wt_h1 {
    text-align: center;
    font-size: 50px;
}

.wt_kep {
    float: right;
}

.wt_arcade_kep {
    float: left;
    width: 230px;
    margin-right: 30px;
}