.cr_body {
    background-image: url(https://images7.alphacoders.com/856/thumb-1920-856231.jpg);
    color: white;
    text-shadow: 2px 2px black;
}

.cr_kep {
    float: right;
    width: 40%;
}

.cr_h1 {
    text-align: center;
    color: rgb(23, 124, 219);
    text-shadow: 1px 1px black;
    font-stretch: ultra-condensed;
}

.cr_trophyroad_kep {
    width: 230px;
    float: left;
}

.cr_pathoflegends_kep {
    width: 230px;
    float: left;
}

.cr_trophyroad_szoveg {
    visibility: hidden;
    transition: width 1s;
}

.cr_pathoflegends_szoveg {
    visibility: hidden;
}

.cr_trophyroad_kep:hover + .cr_trophyroad_szoveg{
    visibility: visible;
}

.cr_pathoflegends_kep:hover + .cr_pathoflegends_szoveg {
    visibility: visible;
}

.cr_towers_kep {
    width: 300px;
    float: right;
}